In [6]:
import pandas as pd
import numpy as np

train_data = pd.read_csv('train.csv',index_col=0)
train_data.head()
test_data = pd.read_csv('test.csv',index_col=0)

In [7]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15000 entries, 0 to 14999
Data columns (total 69 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Q1            14959 non-null  float64
 1   Q2            14931 non-null  float64
 2   Q3            14950 non-null  float64
 3   Q4            14929 non-null  float64
 4   Q5            14962 non-null  float64
 5   Q6            14952 non-null  float64
 6   Q7            14924 non-null  float64
 7   Q8            14952 non-null  float64
 8   Q9            14944 non-null  float64
 9   Q10           14928 non-null  float64
 10  Q11           14941 non-null  float64
 11  Q12           14933 non-null  float64
 12  Q13           14960 non-null  float64
 13  Q14           14964 non-null  float64
 14  Q15           14955 non-null  float64
 15  Q16           14967 non-null  float64
 16  Q17           14963 non-null  float64
 17  Q18           14937 non-null  float64
 18  Q19           14947 non-null  float64
 19  Q20           14955 non-null  float64
 20  Q21           14961 non-null  float64
 21  Q22           14962 non-null  float64
 22  Q23           14950 non-null  float64
 23  Q24           14939 non-null  float64
 24  Q25           14956 non-null  float64
 25  Q26           14932 non-null  float64
 26  country       14810 non-null  object
 27  introelapse   15000 non-null  int64
 28  testelapse    15000 non-null  int64
 29  surveyelapse  15000 non-null  int64
 30  TIPI1         14947 non-null  float64
 31  TIPI2         14934 non-null  float64
 32  TIPI3         14921 non-null  float64
 33  TIPI4         14936 non-null  float64
 34  TIPI5         14930 non-null  float64
 35  TIPI6         14938 non-null  float64
 36  TIPI7         14936 non-null  float64
 37  TIPI8         14935 non-null  float64
 38  TIPI9         14936 non-null  float64
 39  TIPI10        14920 non-null  float64
 40  VCL1          15000 non-null  int64
 41  VCL2          15000 non-null  int64
 42  VCL3          15000 non-null  int64
 43  VCL4          15000 non-null  int64
 44  VCL5          15000 non-null  int64
 45  VCL6          15000 non-null  int64
 46  VCL7          15000 non-null  int64
 47  VCL8          15000 non-null  int64
 48  VCL9          15000 non-null  int64
 49  VCL10         15000 non-null  int64
 50  VCL11         15000 non-null  int64
 51  VCL12         15000 non-null  int64
 52  VCL13         15000 non-null  int64
 53  VCL14         15000 non-null  int64
 54  VCL15         15000 non-null  int64
 55  VCL16         15000 non-null  int64
 56  education     14833 non-null  float64
 57  urban         15000 non-null  int64
 58  gender        14981 non-null  float64
 59  engnat        14953 non-null  float64
 60  age           15000 non-null  int64
 61  hand          14953 non-null  float64
 62  religion      14755 non-null  float64
 63  orientation   14601 non-null  float64
 64  voted         14915 non-null  float64
 65  married       14918 non-null  float64
 66  familysize    14681 non-null  float64
 67  ASD           14911 non-null  float64
 68  nerdiness     15000 non-null  int64
dtypes: float64(46), int64(22), object(1)
memory usage: 8.0+ MB

In [8]:
train_data.isnull().sum()

Q1             41
Q2             69
Q3             50
Q4             71
Q5             38
             ...
voted          85
married        82
familysize    319
ASD            89
nerdiness       0
Length: 69, dtype: int64